.reactAccordion {
  margin-top: 10% !important;
}
.card-header {
  background-color: transparent !important;
}
.reactAccordion span {
  font-size: 1.3rem;
}
@media screen and (max-width: 700px) {
  .reactAccordion {
    margin-top: 150px !important;
  }
}
