.mobile-navbar
{
    z-index: 1;
}
.disable-scroll
{
    overflow: hidden;
}
.navLink
{
    font-size: 1.5rem !important;
}
@media screen and (max-width: 700px)
{
    .burger
    {
        font-size: 10px !important;
    }
    .navbar-brand .navbar-brand
    {
        font-size: 1.7rem !important;
    }
}